<div class="row">
  <div class="col-6">
    <app-grafica-dona
      [title]="titleOne"
      [labels]="labelsOne"
      [data]="dataOne"
    ></app-grafica-dona>
  </div>
  <div class="col-6">
    <app-grafica-dona
      [title]="titleTwo"
      [labels]="labelsTwo"
      [data]="dataTwo"
    ></app-grafica-dona>
  </div>
</div>
<div class="row">
  <div class="col-6">
    <app-grafica-dona
      [title]="titleThree"
      [labels]="labelsThree"
      [data]="dataThree"
    ></app-grafica-dona>
  </div>
  <div class="col-6">
    <app-grafica-dona
      [title]="titleFourth"
      [labels]="labelsFourth"
      [data]="dataFourth"
    ></app-grafica-dona>
  </div>
</div>
