<!-- Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->
<aside class="left-sidebar">
  <!-- Sidebar scroll-->
  <div class="scroll-sidebar">
    <!-- Sidebar navigation-->
    <nav class="sidebar-nav">
      <ul id="sidebarnav">
        <li class="user-profile">
          <a
            class="has-arrow waves-effect waves-dark"
            (click)="showMenuItems()"
          >
            <img [src]="imgUrl" alt="user" />
            <span class="hide-menu">{{ user?.name || "name-test" }} </span>
          </a>
          <ul *ngIf="showMenu">
            <li><a routerLinkActive="active" routerLink="/dashboard/profile" >My Profile </a></li>
            <li><a >My Balance</a></li>
            <li><a >Inbox</a></li>
            <li>
              <a routerLink="/dashboard/account-settings">Account Setting</a>
            </li>
            <li><a routerLink="account-settings">Account Setting</a></li>
            <li><a class="pointer" (click)="logout()">Logout</a></li>
          </ul>
        </li>
        <li class="nav-devider"></li>
        <li class="nav-small-cap">PERSONAL</li>
        <li *ngFor="let item of menuItems">
          <a class="has-arrow waves-effect waves-dark" (click)="showDashboardItems()"
            ><i class="mdi mdi-gauge"></i
            ><span class="hide-menu"
              >{{ item.title }}
              <span class="label label-rouded label-themecolor pull-right">{{
                item.submenu.length
              }}</span></span
            ></a
          >
          <ul *ngIf="showDashboard" >
            <li *ngFor="let sub of item.submenu">
              <a
                [routerLink]="sub.url"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }"
                >{{ sub.title }}</a
              >
              <!-- routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" => route active white color -->
            </li>
          </ul>
        </li>
      </ul>
    </nav>
    <!-- End Sidebar navigation -->
  </div>
  <!-- End Sidebar scroll-->
</aside>
<!-- ============================================================== -->
<!-- End Left Sidebar - style you can find in sidebar.scss  -->
